.card-header{
    background-color: #131921;
    border: none;
}
.card-header:first-child{
    border-radius: 5px;
}
.card-header button{
    color: #fff;
    padding: 0;
}
.card{
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid rgb(201, 201, 201);
    margin-bottom: 1rem;
}
.card ul{
    padding: 0;
}
.card li{
    cursor: pointer;
    transition: .3s;
}
.card li:hover{
    color: #a7bbd4;
}
.card li:active{
    color: #607b9b;
}
.card form ul li{
    display: flex;
    flex-direction: column;
}