.Product{
    padding: 1rem;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.Modal_show{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 9999;
    
}
.Modal{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 1rem;
    width: 300px;
    margin: 0 auto;
}
.Modal p{
    font-weight: 600;
}
.Modal button{
    width: 100%;
    color: #fff;
    background-color: rgb(240, 166, 71);
    border-radius: 5px;
    border: none;
    padding: .5rem .9rem;
}
.Modal button:hover{
    background-color: rgb(241, 146, 22);
}
.Modal_hide{
    display: none;
}
.Return_link a{
    text-decoration: none;
    color: rgb(240, 166, 71);
}
.Slider_container{
    display: grid;
    place-content: center;
}
.Product_detail{
    padding: 4rem 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
}
.Product_detail_description{
    padding: 1rem;
    max-width: 540px;
    margin: 0 auto;
    display: grid;
    place-content: center;
}
.Price{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.Price span{
    color: rgb(80, 80, 80);
}
.Add_btns{
    display: flex;
    align-items: center;
    
}
.Add_btns button{
    display: grid;
    place-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    cursor: pointer;
}
.Add_btns button:active{
    transform: scale(1.1);
}
.Add_btns p{
    padding: 0 1rem;
}
.AddCart_btn{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.AddCart_btn button{
    width: 100%;
    max-width: 500px;
    border: none;
    padding: 1rem;
    background-color: rgb(240, 166, 71);
    color: #fff;
    border-radius: 8px;
    transition: .1s;
}
.AddCart_btn button:hover{
    transform: scale(1.05);
}
.AddCart_btn button:active{
    transform: scale(0.9);
}
.Discover{
    padding: 1rem;
    color: rgb(240, 166, 71);
}

.Related_products{
    display: grid;
    gap: 1rem;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(250px,250px));
    margin-bottom: 1rem;
}

@media(min-width:540px){
    .Related_products{
        grid-template-columns: repeat(auto-fit, minmax(300px,300px));
     }
}

@media(min-width:720px){
    .Product_detail{
        grid-template-rows: auto;
        grid-template-columns: 50% auto;
    }
}

@media(min-width:990px){
    .Related_products{
        gap: 2rem;
    }
}
